 

body,html {
    height: 100%;
}

.bg {

    background-image: url(img_fundo_triangulos.png);
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
}
.abertura {
    margin-top: 100px;
    
}
.pInicial {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.pParte2 {
    text-align: center;
}
.cadastro {
    background-color:#2782dd;
    width: 95%;
    height: 95%;
    border-radius: 15px;
    border-style:solid;
    border-color: rgb(255, 0, 0);
    border-width: 5px;
    padding-bottom: 20px;
}

.bordaContato {

    background-color: rgb(51, 123, 248);
    border-radius: 15px;
    border-style:solid;
    border-color: rgb(255, 0, 0);
    border-width: 3px;
   
}

.mensagem {
    height: 100px;
}

.navColor {
    background-color:#2782dd;
    ;
}

/* css carrocel */


   .card-altura {
        height: auto;
        max-width: 100%;
   }
   .img-altura {
        height: auto;
        max-width: auto;
   }
   .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkgrey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkgrey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
